body {
  z-index: 2;
  font-family: "Roboto",
    sans-serif;

  background-color: rgb(6, 6, 27);
}

#app {
  height: 100%;
}

/* .stars {
  z-index: 1;
} */

/* .container {
  display: flex;
  flex-direction: column;
} */

/* .box {
  padding-bottom: 30%;
  margin: 1.66%;
} */

#logo {
  width: 40%;
}

h1 {
  font-size: 25px;
  color: rgb(241, 235, 226);
  margin: 70px;
  font-weight: lighter;
}

.button-box {
  display: flex;
  justify-content: center;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.4em auto;
  }
}